:root {
    --light: #F5F5F5;
    --bitLight: #D6E6F2;
    --DarkLight: #303841;

}

.Facicon {
    width: 16px;
    height: 16px;
}

* {
    font-family: Roboto, Lato, Open Sans, Montserrat, Georgia;
}


body {
    margin: 0;
    background-color: var(--bitLight);
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--DarkLight);
}

.HeaderMain {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide {
    display: flex;

}

.HeadIcon {
    margin-top: 4px;
    width: 50px;
    height: 50px;
}

.Heading {
    margin-left: 15px;
    margin-top: 8px;
    color: var(--light);
    font-weight: 800;
    font-family: "Proxima Nova", "Avenir" "Next", "Roboto", Open "Sans";
}

.SavedTag {
    width: 20px;
    height: 20px;
    filter: brightness(90%) invert(90%);
}

.RtSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LoginBTN {
    margin-left: 10px;
    text-align: center;
}

.LoginBTN:hover {
    transform: scale(1.03);
}

.LoginBTN a {
    text-decoration: none;
    color: var(--bitLight);
    font-weight: 700;
    font-size: 20px;
}

.LoginBTN a:hover {
    text-decoration: none;
    color: black;
}

.UserIcon {
    margin-left: 18px;
    width: 35px;
    height: 35px;
}






.SearchSection {
    background-color: var(--light);
    width: 100%;
    height: 240px;
    padding-top: 10px;
}

.FindText {
    color: var(--DarkLight);
    font-weight: 700;
}

.RowSearch {
    display: flex;
    justify-content: space-around;
    top: 20px;
}

.BranchSearchDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}


.SearchLabel {
    color: var(--DarkLight);
    font-size: 10px;
}

#Branch {
    width: 90%;
    border: 1px var(--DarkLight) solid;
    border-radius: 10px;
    padding: 5px;
    color: var(--DarkLight);
}

.custom-select option {
    border-radius: 10px;
}





.Resources {
    padding: 0px 0;
}

.ResourcesHeading {
    text-align: center;
    margin: 15px 0;
    font-weight: 800
}

.VideoHeading {
    text-align: start;
    margin: 15px 20px;
    font-weight: 700
}

.VideoRow {
    margin: 0px 5px;
    width: 98%;
    height: 250px;
    background-color: var(--Light);
    /* border: 1px solid var(--DarkLight); */
    color: var(--DarkLight);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

/* @keyframes scroll {
    100% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */

.VideoClass {
    border-radius: 10px;
    height: 240px;
    aspect-ratio: 16/13;
    z-index: 2;
}

.OneVideo {
    margin: 1px 5px;
    /* border-radius: 10px; */
    /* height: 240px; */
    /* aspect-ratio: 16/9; */
    /* background-color: #303841; */
    animation: scroll 10s ease-in-out both;

}

.VideoRow::-webkit-scrollbar {
    width: 3px;
}

.VideoRow::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 0 100px;
    margin-top: 10px;
}


.VideoRow::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 25px;

}

.VideoHeadSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addVideo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0px 30px;
    flex-direction: row;
    background-color: none;
}

.MoreVideo {
    margin-top: 10px;
    align-items: center;
}

.addText {
    font-size: 20px;
    font-weight: 600;
    color: var(--DarkLight);
    margin-top: 15px;
    margin-right: 10px;
}

.addVideo:hover,
.Load:hover {
    transform: scale(1.1);
}

.Load,
.Add {
    width: 30px;
    aspect-ratio: 1/1;
}

.LoadText,
.ShowLessText {
    font-size: 10px;
    color: red;
}

.LoadText {
    margin-top: 5px;
    margin-right: 5px;
}

.lessLoad {
    transform: rotate(180deg);
}

.showLessDiv {
    display: none;
    width: 100%;
    margin: 5px 10px;
}

.videoGrid {
    display: none;
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.OneVideoGrid {
    margin: 0px 5px;
    float: left;
}

.OneVideoGrid .VideoClass {
    margin: 1px 5px;
    border-radius: 10px;
    height: 167px;
    aspect-ratio: 16/9;
}

.GridVideo {
    display: block;
}

.EGBOX {
    width: 10px;
    height: 50px;
    background-color: red;
    margin: 10px;
    float: left;
}